<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.web>
    <machineKey decryption="AES" decryptionKey="D8DA38167594F3AEC0F4D5D6864AE7613BC97860D1491DF2" validation="SHA1" validationKey="CA2171B5BCA32B42B91433B17B0DD9DED902815F68A2C5956D8E049C1CD2E5C332C07C3178DD21A51A75AF090FFEDF987AA688CED70A1623A020BC420A9D2130" />
  </system.web>
</configuration>